<app-student-toolbar></app-student-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer color="accent" mode="side" opened>

        <form style="padding-top: 20px; width: 100%;">
            <mat-form-field class="example-full-width">
                <mat-label>Search for a chat</mat-label>
                <input matInput placeholder="Ex. Pratyush">
            </mat-form-field>
        </form>
        <label>Chats List</label>
        <br />
        <mat-form-field style="width: 100%; height: 70%">

            <textarea matInput class="form-control" readonly> </textarea>
        </mat-form-field>
        <button mat-button color="warn">Report Some bullying</button>
    </mat-drawer>


    <mat-drawer-content>
        <mat-form-field style="width: 80%; height: 70%">

            <textarea matInput class="form-control" readonly> </textarea>

        </mat-form-field>
        <br />
        <mat-form-field appearance="fill">
            <mat-label>Message!</mat-label>
            <input matInput placeholder="The quick brown fox jumps over the lazy dog">
        </mat-form-field>
    </mat-drawer-content>
</mat-drawer-container>